.cursor {
    position: fixed;
    left: 0px;
    top: 0px;
    transition: .1s;
    pointer-events: none;
}

.cursor--outline {
    width: 20px;
    height: 20px;
    left: -8px;
    top: -8px;
    border-radius: 50%;
}

.inner-cursor {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ffff;
    transition: all .2s ease-out;
}

//hovered border blue and scale
.cursor--outline.hovered {
    .inner-cursor {
        width: 400%;
        height: 400%;
        transform: translate(-30px, -30px);
        border: 1px solid $color-1;
    }
}

//hovered White ans scale
.cursor--outline.hoveredText {
    .inner-cursor {
        transform: scale(4);
        background-color: #ffff;
    }
}

//Text for action
.cursor--outline.tipsCursor {
    .inner-cursor {
        border: none;
    }
}