#periodic-container {
    width: 100%;
    height: 100%;
    //_____________ ELEMENT _____________________________________
    .element {
        width: 140px;
        height: 180px;
        text-align: center;
        border: 1px solid rgba( 127, 255, 255, 0.25);
        box-shadow: 0 0 12px rgba( 0, 255, 255, 0.5);
    }
    .element:hover {
        border: 1px solid rgba( 127, 255, 255, 0.75);
        box-shadow: 0 0 12px rgba( 0, 255, 255, 0.75);
    }
    .element .number {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1rem;
        color: rgba( 127, 255, 255, 0.75);
    }
    .element .symbol {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 0;
        font-size: 2rem;
        font-weight: bold;
        color: rgba( 255, 255, 255, 0.75);
        text-shadow: 0 0 10px rgba( 0, 255, 255, 0.95);
    }
    .element .detail {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
        font-size: 0.8rem;
        color: rgba( 127, 255, 255, 0.75);
    }
}

//_____________ MENU _________________________________
#menu {
    position: absolute;
    left: 25%;
    height: 5rem;
    bottom: 0;
    text-align: center;
    align-items: center;
    li {
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    #periodic-container {
        transform: translateX(-2%);
    }
}

@media screen and (max-width: 500px) {
    .home {
        overflow: hidden;
    }
    #menu {
        left: 0%;
        width: 100%;
        li {
            padding: 3rem 0rem;
            margin: 0 5px;
            flex: 1;
            flex-wrap: nowrap;
            background-color: rgba(0, 127, 127, 0.68);
            border: 1px solid rgba(127, 255, 255, 0.25);
            span {
                font-size: .8rem;
                letter-spacing: .2rem;
            }
        }
    }
}