.about {
    .images-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        //LI
        .article-container {
            position: relative;
            display: flex;
            padding: 0 2%;
            width: 9%;
            transition: all .7s;
            .name,
            .firstName {
                position: absolute;
                color: $color-1;
                font-size: 2.5rem;
                width: 50%;
                text-align: center;
            }
            .name {
                top: -5rem;
            }
            .firstName {
                bottom: -5rem;
            }
            .article {
                width: 70%;
                margin: 0 auto;
                background-position: center;
                background-size: cover;
                transition: all .4s;
                //border: 2px solid $color-3;
                -webkit-filter: grayscale(100%);
                /* Pour les navigateurs Chrome, Safari, Opera */
                filter: grayscale(100%);
                /* Firefox */
                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .8);
                    opacity: 0;
                    transition: all .5s ease-out;
                }
                &:hover {
                    //border: none;
                }
            }
            .infos {
                .title {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50%;
                    width: 100%;
                    left: 0%;
                    top: -25%;
                    span {
                        font-size: 8rem;
                        font-family: $font-2;
                        color: $black;
                        text-shadow: -1px -1px 0 $color-2, 1px -1px 0 $color-2, -1px 1px 0 $color-2, 1px 1px 0 $color-2;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height .6s ease-in-out;
                    }
                }
                .quotesBloc {
                    position: absolute;
                    width: 600px;
                    height: 100%;
                    top: 60%;
                    left: 10%;
                    transform: scaleX(0);
                    .quote,
                    .author {
                        font-family: $font-manuscrite;
                        transition: transform ease-out .6s;
                    }
                    .quote {
                        width: 80%;
                        margin-left: -5%;
                        font-size: 1.2rem;
                        letter-spacing: .2rem;
                    }
                    .author {
                        text-align: end;
                    }
                }
            }
            &:hover {
                width: 100%;
                .article {
                    width: 100%;
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
                .name,
                .firstName {
                    opacity: 0;
                }
            }
        }
        // LI ACTIF
        .article-container.active {
            width: 100%;
            .article {
                transform: scale(.9);
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
                &::before {
                    opacity: .9;
                }
            }
            .name,
            .firstName {
                opacity: 0;
            }
            .infos {
                .title {
                    transform: scaleY(1);
                    span {
                        max-height: 100%;
                        padding-top: 15px;
                    }
                }
                .quotesBloc {
                    opacity: 1;
                    transform: scaleX(1);
                    .quote,
                    .author {
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .about {
        .images-container {
            .article-container {
                padding: 0 1%;
                width: 12%;
                transition: all .3s;
                .name,
                .firstName {
                    font-size: 1.5rem;
                }
                .name {
                    top: -2rem
                }
                .firstName {
                    bottom: -2rem;
                }
                .infos {
                    .title {
                        span {
                            font-size: 3rem;
                        }
                    }
                    .quotesBloc {
                        width: 90%;
                        top: 20%;
                        .quote {
                            width: 100%;
                            font-size: .8rem;
                            color: #ffff;
                            line-height: 2rem;
                        }
                    }
                }
            }
            .article-container.active {
                width: 1000%;
            }
        }
    }
}