@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Alegra-Regular.otf);
    font-display: swap;
}

@font-face {
    font-family: "font-2";
    src: url(../assets/fonts/Afronik.otf);
    font-display: swap;
}

@font-face {
    font-family: "font-brand";
    src: url(../assets/fonts/Robertortiz.ttf);
    font-display: swap;
}

@font-face {
    font-family: "font-manuscrite";
    src: url(../assets/fonts/Belleson.otf);
}

$font-1: "font-1",
sans-serif;
$font-2: "font-2",
serif;
$font-brand: "font-brand",
cursive;
$font-manuscrite: 'font-manuscrite',
cursive;
$color-1:rgb(102, 250, 211);
$color-2:#d49417;
$color-3:rgba(255, 255, 255, 0.871);
$color-4:#ffffff99;
$color-5:rgba(255, 255, 255, 0.38);
$black: black;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: $font-1;
    cursor: url(../assets/img/cursorBlue.png), auto;
}

html {
    max-width: 100vw;
    overflow: hidden;
}

body {
    background-color: $black;
    min-height: 100vh;
    color: $color-3;
}

.home,
.about,
.skills,
.works,
.contact {
    padding: 2% 5%;
}

h2 {
    font-size: 2rem;
    margin-left: 20%;
}

a,
a:visited {
    color: $color-1;
}

//CLASS
.sentence.handFont {
    font-size: 1.6rem;
    z-index: 3000;
    top: 15%;
    left: 20%;
    height: 50px;
    position: absolute;
}

.container {
    margin-left: 10vw;
    width: 85vw;
    height: 90vh;
}

.handFont {
    font-family: 'Dawning of a New Day';
    font-size: 1.3rem;
    color: #8a8686;
    opacity: .8;
}

.destrucBtn {
    display: flex;
    justify-content: space-between;
    width: 50%;
    li {
        z-index: 2;
        padding: 4rem 0;
        span {
            display: inline-block;
            letter-spacing: .5rem;
            color: $color-1;
            transition: all .2s ease-out;
        }
        &:hover {
            span {
                transform: translateY(0rem) !important;
            }
        }
    }
    li.active {
        span {
            transform: translateY(0rem) !important;
            color: $color-2;
        }
    }
}

//Cursor
.hover {
    z-index: 2000;
}